
mat-form-field {
	width: 25vw;
	min-width: 10rem;
	max-width: 15rem;
	margin: 1rem;
}

h4 {
	width: 100%;
	text-align: center;
}

span {
	margin-left: 0.5em;
}

button {
	width: 8em;
	margin-bottom: 1em;
}

mat-slide-toggle {
	margin-right: 1em;
}