<div (keyup.esc)="onEscape()">
    <mat-toolbar color="primary" 
      fxLayoutAlign="end center">
      <div fxFlex>Confirmation</div>
      <a class="button"
        fxLayoutAlign="center center"
        (click)="onEscape()">
        <mat-icon>close</mat-icon>
      </a>
    </mat-toolbar>
    <mat-dialog-content 
      fxLayoutAlign="center">
      <div>Are you sure to delete the user with username "{{ data.username }}"?</div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="center center">
      <button
        mat-raised-button 
        color="warn"
        [mat-dialog-close]="true">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
    </mat-dialog-actions>
    </div>
