mat-toolbar {
    font-size: 1rem;
    height: 40px; 
    width: 100%;
    padding-right: 0; 
    margin-bottom: 2rem;
    a {
        width: 40px; 
        height: 40px; 
        cursor: pointer;
    }
    a:hover {
        background-color: rgb(10, 36, 114);
    }
}

mat-dialog-content {
    text-align: justify;
    margin: 1rem;
}

mat-dialog-actions {
    margin-bottom: 1rem;
    button {
        width: 8rem;
        span {
            margin-left: 0.5rem;
        }
    }
}