@import '../node_modules/@angular/material/theming';
@import './app/components/home/home-theme';
@import './app/components/navbar/navbar-theme';

@import './styles/markdown-theme';
@import './styles/svg-theme';
@import './styles/tables-theme';

// Styles for the app that are based on the current theme.
@mixin material-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-background {
    background: mat-color($background, background);
    color: mat-color($foreground, text);
  }

  .app-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .app-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  @include app-site-markdown-theme($theme);
  @include app-site-svg-theme($theme);
  @include app-site-tables-theme($theme);
  @include nav-bar-theme($theme);
}
